.table{
    display: grid;
    padding: 20px;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    min-height: 600px;
}
.column_1{
    border: 1px solid black;
    width: 200px;
}
.column_2{
    border: 1px solid black;
    padding: 0px 20px 10px;
    /* padding:  0 20px 20px; */
}
.title_1{
    text-align: center;
}
.drag{
    padding: 10px;
    border: 1px solid black;
    margin: 10px auto;
    width: 100px;
    text-align: center;
    cursor: grab;
}
.drop_text{
    margin-top:10px;
    padding: 10px;
    width: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
}
.drop_text textarea{
    resize: vertical;
    outline: none;
    width: 692px;
}
.drop_img{
    padding: 10px;
    max-width: 700px;
    margin-top:10px;
    border: 1px solid black;
    width: fit-content;
    background-color: aquamarine;
}
.drop_img img{
    width: 100%;
}
.drop{
    min-height: 100%;
}